<% layout('layouts/boilerplate') -%>

<div>
  <img
    src="https://media.istockphoto.com/id/1153372686/photo/404-error-page-not-found.webp?b=1&s=170667a&w=0&k=20&c=yAVb0dfxHGQooo1-kmjyGnM5SY22TE82x34IfHFfhLI="
    alt="error"
  />
</div>

<div><%= err %></div>
